.recommended-section {
  padding: 0 20px;
  overflow: hidden;
  position: relative;
}

.recommended-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--primary);
  font-weight: bold;
}

.recommended-query {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.recommended-flex {
  display: flex;
  overflow: hidden;
}
.recommended-flex button {
  margin-right: 10px;
}
.search-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.light-grey small {
  color: grey;
}
.relative-product {
  position: relative;
}


@media only screen and (max-width: 650px) {
  .search-div {
    display: none;
  }
  .recommended-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .recommended-flex {
    flex-wrap: wrap;
  }
  .recommended-flex button {
    display: flex;
    flex-grow: 1;
  }
  .recommended-title {
    margin-bottom: 15px;
  }
  .recommended-flex button {
    margin-top: 5px;
    width: auto;
    min-width: auto;
  }
}
