

.Bag-item-section{
    min-width: 25%;
    position: fixed;
    min-height: 55%;
    max-height: 80vh;
    max-width: 25%;
    border-right: 2px solid #e5e5e5;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #f5f5f2 !important;
    top: 13.9%;
    right: 0;
    gap: 3px ;
    padding: 10px 5px;    
}

.bag-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px;
    font-size: 15px;
    border-bottom: 1px dotted rgb(107, 105, 105);
}

.item-count{
    border: 1px solid lightgray;
    padding: 8px;
    font-size: smaller;
    border-radius: 5px;
}

.bag-item button{
    padding: 2px 15px;
    border: none;
    background-color: black;
    color: white;
    height: 100%; 
}

.bag-item span{
    padding: 3px 0;
}

.total-div{
    width: 100%;
    padding: 12px;
    font-size: small;
    position: relative;
}

.checkout-btn{
    padding: 13px 25px;
    border-radius: 25px;
    background-color:var(--primary);
    border: none;
    color: whitesmoke;
    font-weight: lighter;
    letter-spacing: .5px;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    padding-top: 10px;
    font-size: smaller;
}

.bag-empty{
    text-align: center;
    font-size: small;
    color: var(--linkColor);
    font-weight: 400;
    flex-direction: column;
    height: 100%;
    
}

.cont-shopping{
    letter-spacing: .5px;
    text-decoration: underline;
    margin-top: 20px;
    color: var(--primary);
}
.bag-empty img{
    width: 100%;
    width: 9em;
    object-fit: contain;
    padding: 40px 0;
}

@media only screen and (max-width:650px){
    .Bag-item-section{
        min-width: 65%;
        min-height: 35%;
        top: 7%;
        right: 0;
    }
}