.promo-nav {
  background-color: #3c443f;
  padding: 13px;
  color: var(--bodyColor);
  width: 100%;
  text-align: center;
  position: relative;
}

.promo-nav > h1 {
  font-weight: 600;
  font-size: 11px;
}

.x {
  position: absolute;
  right: 7px;
  width: 30px;
  cursor: pointer;
}
.promo-nav span {
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none;
}
